.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__snt6 {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/wifvest/images/bgHeropng.png") 0% 0% / cover no-repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__snt6 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__snt6 > * {
    grid-column: 4;
  }
}
.freeBox__aAjn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 900px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 16px;
}
.freeBox__aAjn1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__aAjn1 > :global(.__wab_flex-container) > *,
.freeBox__aAjn1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aAjn1 > :global(.__wab_flex-container) > picture > img,
.freeBox__aAjn1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__bu1De {
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.text__bzBat {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.h4__kiJ45 {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.img__xKu0V {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 512px;
  height: 512px;
  flex-shrink: 0;
}
.img__xKu0V > picture > img {
  object-fit: contain;
}
.section__b3Z5K {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #81f35b;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__b3Z5K > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__b3Z5K > * {
    grid-column: 4;
  }
}
.freeBox___2HOwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 900px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 16px;
}
.freeBox___2HOwi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___2HOwi > :global(.__wab_flex-container) > *,
.freeBox___2HOwi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2HOwi > :global(.__wab_flex-container) > picture > img,
.freeBox___2HOwi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__n8Ixk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__woktk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__woktk > picture > img {
  object-fit: cover;
}
.column__h77Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__h77Nr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__h77Nr > :global(.__wab_flex-container) > *,
.column__h77Nr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__h77Nr > :global(.__wab_flex-container) > picture > img,
.column__h77Nr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1___4SJ9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___4SJ9M {
    font-size: 42px;
    text-align: center;
  }
}
.text__hk4Gf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__gRRwl {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #aaeaff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__gRRwl > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gRRwl > * {
    grid-column: 4;
  }
}
.freeBox__sC5Vd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 900px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 16px;
}
.freeBox__sC5Vd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sC5Vd > :global(.__wab_flex-container) > *,
.freeBox__sC5Vd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sC5Vd > :global(.__wab_flex-container) > picture > img,
.freeBox__sC5Vd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__jC73Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.img__lnJyV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lnJyV > picture > img {
  object-fit: cover;
}
.freeBox__nNd2M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y41Xb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___81WvH {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__c6FM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uvoKy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2Lm7Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__ikf1C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jf2D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qkHLr {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__zTzRi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qWpdr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mGsfc {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__tto89 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqH0F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5XShh {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__l7RL3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___63KVl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__w2Eiw {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__atNqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.section__nkiR9 {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #01eafd;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__nkiR9 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__nkiR9 > * {
    grid-column: 4;
  }
}
.freeBox__skYs8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 400px;
  max-width: 900px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 16px;
}
.freeBox__skYs8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__skYs8 > :global(.__wab_flex-container) > *,
.freeBox__skYs8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__skYs8 > :global(.__wab_flex-container) > picture > img,
.freeBox__skYs8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__skYs8 {
    height: 200px;
  }
}
.img___2YbzT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 12px;
}
.img___2YbzT > picture > img {
  object-fit: cover;
}
.h1__w7Gm5 {
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__w7Gm5 {
    font-size: 32px;
    text-align: center;
  }
}
.freeBox__aooAr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__aooAr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__aooAr > :global(.__wab_flex-container) > *,
.freeBox__aooAr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aooAr > :global(.__wab_flex-container) > picture > img,
.freeBox__aooAr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__tuIpC {
  position: relative;
  display: flex;
}
.svg__pepMx {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__jZtGo {
  position: relative;
  display: flex;
}
.svg__pOf3 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
